<div data-role="view" data-layout="login-layout" data-model="userForm" data-id="login-view">
    <ul data-role="listview" data-style="inset">
        <li>
            <label>
                Username
                <input id="username-input" type="text" value="asd" />
            </label>
        </li>
        <li>
            <label>
                Password
                <input id="password-input" type="password" value="asd" />
            </label>
        </li>
    </ul>
    <button data-role="button" data-bind="click: login" style="margin-left: 40%" class="bigBtn">
        Login
    </button>
</div>