<div data-role="view" 
     data-layout="tabstrip-layout" 
     data-model="phoneGadjets">
    <p>
        GALLERY
    </p>
    <div data-role="navbar">
        
        <button data-role="button" data-align="center" data-bind="click: getMeterInfo">
            Get Accelerator Info
        </button>
        
        <button data-role="button" data-align="center" data-bind="click: getCompasHeading">
            Get Compas Info
        </button>
        
        <button data-role="button" data-align="center" data-bind="click: record">
            Get Record Info
        </button>
        
        <ul id="acel">
        </ul>
        
        <ul id="compas">
        </ul>
        
        <ul id="record">
        </ul>
        
    </div>
</div>