<div data-role="view" 
     data-layout="tabstrip-layout" 
     data-model="phoneGadjets">
    
    <div data-role="navbar">
        
        <button data-role="button" data-align="center" data-bind="click: getMeterInfo">
            start watcher
        </button>
        
        <button data-role="button" data-align="center" data-bind="click: stopWather">
            stop watcher
        </button>
        
        <button data-role="button" data-align="center" data-bind="click: getCompasHeading">
           compas
        </button>
        
        <button data-role="button" data-align="center" data-bind="click: record">
            record
        </button>
        
        <ul id="acel">
        </ul>
        
        <ul id="compas">
        </ul>
        
        <ul id="record">
        </ul>
        
    </div>
</div>